---
layout: default
title: Home
---

<div id="home">
  <ul class="posts">
    {% for page in paginator.posts %}
      {% include post-content.html context='home' %}
    {% endfor %}
  </ul>
</div>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | replace: 'index.html', '' }}" class="previous">←</a>
    {% endif %}
    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page }}" class="next">→</a>
    {% endif %}
  </div>
{% endif %}
