html, body {
  font-family:'crimson-1','crimson-2',sans-serif;
  font-size:18px;
  color:#ccc;
  text-shadow:#333 1px 1px 0;
  text-align:center;
}

body {
  background:#333;
}

h1 {
  margin:0;
  font-weight:200;
  font-size:35px;
  letter-spacing:-1px;
  color:#fff;
}

a {
  color:#ddd;
  text-decoration:none;
}

a:hover {
  color:#fff;
  text-decoration:none;
}

#global {
  margin:30px auto;
}

#content {
  padding:5px;
  text-align:center;
}

#content #job {
  margin:0;
}

#content #links {
  margin:15px 0;
}

footer {
  position:absolute;
  bottom:5px;
  width:100%;
  color:#000;
  font-size:12px;
  text-shadow:rgba(255,255,255,0.15) 0 1px 1px;
}

footer .copyright {
  color:#000;
  text-shadow:rgba(255,255,255,0.15) 0 1px 1px;
}

footer .credits {
  position:absolute;
  right:15px;
  color:#666;
  text-shadow:rgba(0,0,0,0.15) 0 1px 1px;
}

footer .credits a {
  color:#999;
}

footer .credits a:hover {
  color:#ccc;
}

footer a {
  color:#112;
}

footer a:hover {
  color:#113;
}
