html, body {
  font-family:'crimson-1','crimson-2',sans-serif;
  font-size:18px;
  color:#fff;
  text-shadow:#333 1px 1px 0;
  text-align:center;
}

body {
  background:#333;
}

h1 {
  margin:0;
  font-weight:200;
  font-size:1.9em;
  letter-spacing:-1px;
}

h2 {
  margin-top:5px;
  font-weight:200;
  font-size:1.2em;
}

a {
  color:#fff;
  font-style:oblique;
  text-decoration:none;
}

a:hover {
  color:#ccc;
  text-decoration:none;
}

#global {
  margin:30px auto;
}

#content {
  width:300px;
  margin:auto;
  padding:5px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  background-color:rgba(0,0,0,0.35);
}

#content #links {
  margin:10px 0 4px 0;
}

footer {
  position:absolute;
  bottom:5px;
  width:100%;
  font-size:0.65em;
  text-shadow:rgba(255,255,255,0.15) 0 1px 1px;
}

footer .copyright {
  width:230px;
  margin:auto;
  padding:5px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  background-color:rgba(0,0,0,0.25);
}

@media (max-width: 600px) {
  h1 {
    font-size:2.5em;
    letter-spacing:-1px;
  }

  h2 {
    font-size:1.8em;
  }

  #global {
    margin:80px auto;
  }

  #content {
    width:80%;
  }

  footer {
    font-size:1em;
  }

  footer .copyright {
    width:220px;
  }
}
