<div class="unit two-fifths hide-on-mobiles">
  <aside>
    <h2><a href="/archives">More posts...</a></h2>
    <ul>
      <li class="{% if page.url contains '/elixir/' %}current{% endif %}">
        <a href="/elixir">#elixir</a>
      </li>
      <li class="{% if page.url contains '/thoughts/' %}current{% endif %}">
        <a href="/thoughts">#thoughts</a>
      </li>
      <li class="{% if page.url contains '/english/' %}current{% endif %}">
        <a href="/english">#english</a>
      </li>
      <li class="{% if page.url contains '/french/' %}current{% endif %}">
        <a href="/french">#french</a>
      </li>
      <li class="{% if page.url contains '/archives/' %}current{% endif %}">
        <a href="/archives">#all</a>
      </li>
    </ul>
    <!-- <h4>Latest posts</h4>
    <ul>
      {% for post in site.posts limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul> -->
  </aside>
</div>
