<div class="mobile-sidebar unit whole show-on-mobiles">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="/archives">More posts…</option>
    <optgroup label="Categories">
      <option value="/elixir">#elixir</option>
      <option value="/thoughts">#thoughts</option>
      <option value="/english">#english</option>
      <option value="/french">#french</option>
      <option value="/archives">#all</option>
    </optgroup>
    <optgroup label="Latest posts">
      {% for post in site.posts limit:5 %}
        <option value="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</option>
      {% endfor %}
    </optgroup>
  </select>
</div>
