<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta content="{{ site.name }}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="{{ site.root_url }}" property="og:url">
    <meta content="{{ site.root_url }}/assets/images/rymai.jpg" property="og:image">
    <meta content="{{ site.description }}" property="og:description">
    {% feed_meta %}

    <script>
      (function(d) {
        var config = {
          kitId: 'nae8ahp',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/screen.css">
  </head>
